@model dynamic
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">کد ملی</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">رمز عبور</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <a href="#" data-toggle="modal" data-target="#forgotPasswordModal">فراموشی رمز عبور</a>

    <button type="submit" class="btn btn-primary">ورود</button>
</form> <!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">فراموشی رمز عبور</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="nationalCode">کد ملی</label>
                        <input type="text" class="form-control" id="nationalCode">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">ارسال</button>
                </div>

            </form>

        </div>
    </div>
</div>
<div class="loading d-none">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="message text-center d-none"> کد بازیابی رمز عبور برای شما پیامک شد. </div>