<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>MyMYgzhzn+rLeUL4J5Jy5GwgQeTZjCRWKlfP4UF5lGnU0KwSrYHa7PttA6xIbluzQqGYbsiGeEJFbVnkOD7oFKQJbuoHcjPmCDPtqdmDvNxK52qnYtdL0Q16+sofWNj3lg7aN/r4SxmoHl1GQMp9H3+OXN6nHNjYiA91InsHTgdB07Q4L3O42N5kgY0fDFdH9gWSMlBG1M6LJya/aMgtqmLmznq+LEx6G3k9pUxn59UlBs1yrXCP2Ej5lgJu1LtDDvWWiVnsBWf+WotbkVgxJ0j6x58GE3qLQ0Gj6FfCf/lFkIy8rgjn9kGAXWu5c0MWYYmIa0EAMi9EdlZWXbmuBQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>DbdSgdD83kwUenX0yZIJwcugbTowOcJVkixnom8XKbwxs5TfM/s7TIC42DRHdNmHYzmeEkThTf3jOmkeOaLB/gKTFEpCzpLyvvbFiOi0kmGG033jCtLuNbSRBtAo/X1Ck3J/E65AM8Oj/8W1uUsTNgROrouhzOpdnWtF6f8DXVCMWfcewjKTXOt3Znrb+ukQFDRx33gFkfsLb11ImM2RWCEVi7TpKKPHqD3rll4frqLB1MCwXzyrgsPMWDtuzrkDxKLNLVFMAHkIR5oGnefH3dGpGalzZDiY3oj0akF1eQI+VoKwso+KtP8F2KP5uTH+W67+1w1/C1yW03IXpzQOj7KXjFUojad6UTkslxqU/dJsbniDyffXT0SRMUfU15oVqil5PjL9dJhKv6VKgqEuYkIlNCFYPSChjrflvUM5wd+QTpCXBv6ka1Ec7IDaWVWXBIh+JiRXBQr30lxOXdxVhgqLm7F1Rc6dEXvSYWOdaTp45jMl/Y5VdnGFFtGJ3Dgpw1GiHuiBKfJj8c1Q2Yk0PMgSYZCTlv0mq5QhV8tZHCVbtvIbEdekUqvYtPuEuJWrxuaHDSne+gtxn6tG+qRJULzNY2QHI4rMqDlzABybNSzveaYfe/lK6nBYHho4wF+8tnYU6lyP+IbTK0K45n9IN8MzhbsmjTR3atpY45z60UExv7dU0kD1OQf5ImL3BCif</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>