@Model CustomerSurveySystem.Models.Questionnaire
@{
    ViewBag.Title = "بیمه پاسارگاد";
}

<div class="row">
    <div>
        <h2>لیست نظرسنجی ها</h2>
        @foreach (var item in Model)
        {
           @Html.ActionLink((string)item.Title, "Index", "Questionnaire", new {questionnaireId = item.Id}, null)
           <br/>
        }
    </div>
</div>