@{
    ViewBag.Title = "بیمه پاسارگاد";
}

<div class="row">
    <div>
        <h2>لیست نظرسنجی ها</h2>
        @foreach (var item in Model)
        {
            <li>@item.Title</li>
        }
    </div>
</div>