@{
    ViewBag.Title = "بیمه پاسارگاد";
}

<div class="row">
    <div>
        <h2>لیست نظرسنجی ها</h2>
        @foreach (var item in Model)
        {
            <a href="@item.Id">@item.Title</a>
        }
    </div>
</div>