@{
    ViewBag.Title = "title";
}

<div class="qpreviewer-container">
    <h1 class="questionnaire-title"></h1>
    <div class="q-content-container">
        <div class="questionnaire bb-scroll-bar"></div>
        <div class="btn-nextstep"></div>
        <div class="no-questions">جهت تست</div>
    </div>
</div>
    
@* @section Styles { *@
@*     <link rel="stylesheet" href="style.css"/> *@
@* } *@