@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
    <h3 class="card-title"> نظرسنجی </h3>

    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="بستن">
            <i class="fas fa-minus"></i>
        </button>
    </div>
</div>
<div class="card-body">
    <div>
        <div class="container py-3 my-3 border rounded shadow-sm">
            <div class="row">
                <section class="col-12">
                    <ul class="nav nav-tabs flex-nowrap" role="tablist">
                        <li role="presentation" class="nav-item">
                            <a href="#step1" class="nav-link active" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1"> 1 </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step2" class="nav-link disabled" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2"> 2 </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#step3" class="nav-link disabled" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3"> 3 </a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#complete" class="nav-link disabled" data-toggle="tab" aria-controls="complete" role="tab" title="Complete"> 4 </a>
                        </li>
                    </ul>
                    <form role="form">
                        <div class="tab-content py-2">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <h3>Step 1</h3>
                                <p>This is step 1. Click continue...</p>
                                <button type="button" class="btn btn-primary next-step float-right">Next</button>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step2">
                                <h3>Step 2</h3>
                                <p>This is step 2</p>
                                <ul class="float-right">
                                    <li class="list-inline-item">
                                        <button type="button" class="btn btn-primary next-step">Save and continue</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step3">
                                <h3>Step 3</h3>
                                <p>This is step 3</p>
                                <ul class="float-right">
                                    <li class="list-inline-item">
                                        <button type="button" class="btn btn-primary btn-info-full next-step">بعدی</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete">
                                <h3>Complete!</h3>
                                <p>You have successfully completed all steps.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- /.card-body -->
<div class="card-footer">

</div>